<!-- Banner -->
<section class="p-5 bg-light" id="baner">
    <div class="container">
        <div class="row align-items-center justify-content-between position-relative">
            <div class="col-md">
                <picture>
                    <source srcset="img/hero.webp" type="image/webp">
                    <img src="img/hero.jpg" class="img-fluid rounded-5 shadow-lg" alt="hero">
                </picture>
            </div>
            <div class="col-lg p-5">
                <h2 class="display-5 fw-bold lh-1 mb-3">Take your parcels in home or point</h2>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Perspiciatis quisquam laudantium accusantium, architecto unde.
                </p>
                <p>
                    Lorem ipsum dolor.
                </p>
                <a href="#" class="btn btn-poland-red btn-lg px-4 me-md-2 rounded-5">
                    Read More
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Banner End -->