<!-- Data render -->
{% if data %}
<section class="bg-dark text-light p-5 c-preview" id="data">
    <div class="container">
        <div class="title">
            <div class="card bg-light text-dark shadow p-1 mb-5 bg-white rounded-0">
                <div class="card-body text-center">
                    <div class="h1 mb-3">
                        <i class="bi bi-envelope"></i>
                    </div>
                    <h3 class="card-title mb-3">Parcel number {{ data.number }}</h3>
                    <p class="card-text"></p>
                    <a href="#letters" class="btn btn-poland-red rounded-0">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}