<!-- Frequently Asked Questions -->
<section class="p-1 bg-light" id="questions">
    <div class="container">
        <div class="accordion" id="accordion-faq">
            <h2 class="text-center display-5 fw-bold lh-1 mb-3 p-5 pt-lg-5">Frequently Asked Questions</h2>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-one">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        How to find registered shipment?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>In order to find registered shipment,</strong> please type in the box the number 
                        <code>(for example: 0015900773312345678, PX0000000013, RR123456789PL, CP123456789PL, VV123456789PL, EE123456789PL)</code> listed on the postal receipt, 
                        without any spaces or parentheses, and <code>press Enter</code> or tap on <code>Enter Button</code>.                
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-two">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-two" aria-expanded="false" aria-controls="collapse-two">
                        No shipment found, please enter the correct number.
                    </button>
                </h2>
                <div id="collapse-two" class="accordion-collapse collapse" aria-labelledby="heading-two" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>If the following message diplayed,</strong>
                        the number is incorrect or the system does not list a shipment with the specified number.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-three">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-three" aria-expanded="false" aria-controls="collapse-three">
                        The shipping information does not conform to the information on the postal receipt.
                    </button>
                </h2>
                <div id="collapse-three" class="accordion-collapse collapse" aria-labelledby="heading-three" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>If the number is correct,</strong> the shipping information and event log for the parcel will be displayed. 
                        If the shipping information does not conform to the information on the postal receipt, 
                        please check if you have entered the number correctly.
                        <br><br>
                        <strong>In the case of registered letters,</strong> only dispatch and delivery date may be displayed, 
                        without tracking information.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-four">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-four" aria-expanded="false" aria-controls="collapse-four">
                        What types of shipments system currently provides?
                    </button>
                </h2>
                <div id="collapse-four" class="accordion-collapse collapse" aria-labelledby="heading-four" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>The system currently provides</strong> information about the following types of shipments:<br><br>
                        <ul class="list-unstyled">
                            <li class="col-sm-3">Domestic
                                <ul>
                                    <li>Postal Parcel</li>
                                    <li>Pocztex</li>
                                    <li>Cash on Delivery Package</li>
                                    <li>Declared Value Packages</li>
                                    <li>Business Packages</li>
                                    <li>Dimensional Weight Package</li>
                                </ul>
                            </li>
                            <li class="col-sm-3">International
                                <ul>
                                    <li>EMS</li>
                                    <li>Postal Parcel</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Frequently Asked Questions End-->