<!-- Navbar -->
<nav class="navbar navbar-expand-md bg-light">
    <div class="container navbar-light animate__fadeInDown">
        <a href="#home" class="navbar-brand">
            <picture>
                <source srcset="img/logo_compressed.webp" type="image/webp">
                <source srcset="img/logo_compressed.png" type="image/png">
                <img src="img/logo.svg" alt="Poland Post Logo" width="200" height="44" class="rounded-5">
            </picture>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu" aria-label="Justify">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="#home" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#about" class="nav-link">About company</a>
                </li>
                <li class="nav-item">
                    <a href="#work" class="nav-link">Work in Company</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar End -->