.gradient {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-preview {
  background: #000;
  background: linear-gradient(45deg, #000000 0%, #000000 25%, #FBDA5E 50%, #D6715A 75%, #D31C14 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-size: 10000% 10000%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  position: relative;
  cursor: pointer;
  -webkit-transition: 2.5s all;
  transition: 2.5s all;
}

.c-preview__title {
  position: relative;
  z-index: 10;
}

.c-preview:hover {
  background-position: 100% 100%;
}

.c-preview:hover__title {
  text-shadow: 0 0 20px black;
}

@media (min-width: 768px) {
  .search-input {
    width: 75%;
  }
}
