@mixin btn-poland-red {
    .btn-poland-red {
        background-color: #fff;
        color: #d31c14;
        border-color: #d31c14;
        &:hover,
        &:focus,
        &:active {
            background-color: #d31c14;
            color: #fff;
            border-color: #d31c14;
        }
    }
}
