@mixin gradient {
    .gradient {
        background: linear-gradient(45deg, #d31c14, #d6715a, #ffc905);
        background-size: 1000% 1000%;
        -webkit-animation: Animation 5s ease-in-out infinite;
        animation: Animation 5s ease-in-out infinite;
        
        &-border {
            border: 5px solid;
            border-image-slice: 1;
            border-image-source: linear-gradient(to left, #d31c14, #fbda5e);
        }
    }

    @-webkit-keyframes Animation {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    @keyframes Animation {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}
